<div class="bg-dark text-light row m-0 justify-content-around">
    <div class="col-sm-7 col-12 p-3">
        <div>
            <div>We are also available on Mobile Application</div>
        </div>
        <div class="grid">
            <div>
                <h4>Connect</h4>
                <ul>
                    <li><a href="https://www.facebook.com/madhur.kamble.9">Facebook</a></li>
                    <li><a href="https://www.instagram.com/madhur_.7/">Instagram</a></li>
                    <li><a href="https://twitter.com/madhurkamble7/">Twitter</a></li>
                </ul>
            </div>
            <div>
                <h4>Location</h4>
                <ul>
                    <li>Nagpur</li>
                    <li>Pune</li>
                </ul>
            </div>
            <div>
                <h4>Support</h4>
                <ul>
                    <li>Terms And Conditions</li>
                    <li>Cookies</li>
                    <li>Privicy</li>
                </ul>
            </div>
        </div>
        <div>
            <div>@2022 Dummy Ecommerse Website</div>
        </div>
    </div>
</div>