.HeaderBody{
    background-color: grey;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.list{
    display: flex;
}
.list div{
    padding: 14px;
    font-size: 20px;
}
.active{
    background-color: black;
    color: white;
    font-weight: bolder;
}

@media (max-width: 576px) {
    .NoMobile{
        display: none;
    }
}