<div class="HeaderBody">
    <div class="list">
        <div  routerLink="/home" style="padding: 0;width: 62px;border: 1px solid;cursor:pointer;">
            <img src="./../../assets/Logo.png" width="width: 62px;">
        </div>
        <div class="cursorPointer" routerLink="/home" activatedRoutes [routerLinkActive]="'active'" >Home</div>
        <div class="cursorPointer" routerLink="/ProductList" [routerLinkActive]="'active'">Products</div>
        <div class="cursorPointer" routerLink="/about" [routerLinkActive]="'active'">About Us</div>
    </div>
    <div class="list">
        <div *ngIf="loginIt" (click)="logOut()" routerLink="">sign out</div>
        <div *ngIf="!loginIt" class="active">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>
          <span class="NoMobile"> Madhur Kamble </span>
        </div>
    </div>
</div>