<div class="body">
    <div class="sub">
        <div>
            <div>We are also available on Mobile Application</div>
        </div>
        <div class="grid">
            <div>
                <h4>Connect</h4>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                </ul>
            </div>
            <div>
                <h4>Location</h4>
                <ul>
                    <li>Nagpur</li>
                    <li>Pune</li>
                </ul>
            </div>
            <div>
                <h4>Support</h4>
                <ul>
                    <li>Terms And Conditions</li>
                    <li>Cookies</li>
                    <li>Privicy</li>
                </ul>
            </div>
        </div>
        <div>
            <div>@2022 Dummy Ecommerse Website</div>
        </div>
    </div>
</div>