<div class="row web-container">
    <div class="col-sm-12">
        <h4>{{productDetail['name']}}</h4>
    </div>
    <div class="col-sm-6">
        <img [src]="productDetail.link">
    </div>
    <div class="col-sm-6">
        <div>
            Rating
        </div>
        <div>
            <h5>Specification</h5>
                <ul >
                   <li *ngFor = "let s of objects(productDetail.discription)" > 
                    {{s}} : {{productDetail.discription[s]}} 
                </li>
               </ul>
        </div>
        <div>
            <h5>Price</h5>
            Rs {{productDetail.price}}/-
        </div>
        <div class="row">
            <div class="col-sm-12 button">
                <button class="btn btn-primary">Add To Cart</button> 
                <button class="btn btn-danger">Buy Now</button> 
            </div>
        </div>

        <div>
            <h5>Reviews</h5>
            <div class="row"  *ngFor = "let s of productDetail.ProductReview">
                <div class="col-6">Review By : {{s.userName}}</div><div class="col-6">Rating : {{s.rating}}</div>
                <div class="col-12">{{s.review}}</div>
            </div>
        </div>
    </div>
</div>