<!-- <div (click)="backToAllType()" > <= Back To All Type</div> -->
<div class="web-container">
    <div class="row"> 
        <div class="col-sm-4">
            <div class="Filters col bg-info mt-2">
            <h3>Do You Need More Filter ?</h3>
            <ul>
                <li>
                    <label> <input type="checkbox"> price </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="productSubDiv row" *ngFor="let product of productDatails;" >
            <div class="productListImage col-sm-4">
                <img src={{product.link}}>
            </div>
            <div class="col-sm-8 row">
            <div class="col-sm-6">
                <h4 class="link" (click)="openProduct(product)" >{{product.name}}</h4>
                <div>Rs {{product.price}} /-</div>
            </div>
            <div class="buyNow col-sm-6">
                <div class="d-flex">
                    <span>{{product.star}}</span>
                <div class="starContainer" >  
                    <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span>
                    <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                    <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                    <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                    <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                    <div class="starHider" [ngStyle]="{'width': ((5-product.star)*20) + 'px'}"  >  </div>
                </div>
                </div>
            </div>
            <div class="col-12">
                <div class="button">
                    <button class="btn btn-primary">Add To Cart</button> 
                    <button class="btn btn-danger">Buy Now</button> 
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>