<div (click)="backToAllType()" > <= Back To All Type</div>
<div class="grid">
    <div class="Filters">
        <div>
            <h3>Do You Need More Filter ?</h3>
            <ul>
                <li>
                    <label> <input type="checkbox"> price </label>
                </li>
            </ul>
        </div>
    </div>
<div class="body">
    <div class="productListDiv">
        <div class="productSubDiv" *ngFor="let product of productDatails;" >
            <div class="productListImage">
                <img src={{product.link}}>
            </div>
            <div>
                <div>{{product.name}}</div>
                <div>Rs {{product.price}} /-</div>
                <h4>Specification</h4>
                <ul *ngFor = "let s of objects(product.discription)">
                     {{s}} : {{product.discription[s]}}
                </ul>

            </div>
            <div class="buyNow">
                <div>   <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span>
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                </div>
                <div class="buttonToBuy">
                    <button> Add To Cart </button> 
                    <button>Buy Now</button> 
                </div>
            </div>
        </div>
    </div>
</div>
</div>