<!-- <div (click)="backToAllType()" > <= Back To All Type</div> -->
<div class="web-container">
    <div class="row"> 
        <div class="col-sm-4">
            <div class="Filters col">
            <h3>Do You Need More Filter ?</h3>
            <ul>
                <li>
                    <label> <input type="checkbox"> price </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="productSubDiv row" *ngFor="let product of productDatails;" >
            <div class="productListImage col-sm-4">
                <img src={{product.link}}>
            </div>
            <div class="col-sm-5">
                <div>{{product.name}}</div>
                <div>Rs {{product.price}} /-</div>
                <h4>Specification</h4>
                <ul *ngFor = "let s of objects(product.discription)">
                     {{s}} : {{product.discription[s]}}
                </ul>

            </div>
            <div class="buyNow col-sm-3">
                <div>   <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span>
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                </div>
                <div class="buttonToBuy">
                    <button> Add To Cart </button> 
                    <button>Buy Now</button> 
                </div>
            </div>
        </div>
    </div>
</div>
</div>