/* .body div{
    display: flex;
} */
.Image{
    width: 40%;
}
.Detail{
    width: 60%;
}
.grid{
    display: grid;
    grid-template-columns: 30% 70%;
}
.Filters{
    background-color: aqua;
    height: fit-content;
    position: sticky;
    top: 0px;
}
li{
    list-style: none;
}
.productListDiv{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.productSubDiv{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid;
}
.productListImage{
    width: 200px;
    height: 200px;
}
.productListImage img{
    height: inherit;
    width: 100%;
    object-fit: contain;
}
.buyNow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.star{
    width: 20px;
}
.buttonToBuy {
    justify-content: space-between;
    display: flex;
}
.buttonToBuy button{
    width: 45%;
    color: white;
    border: none;
    height: 30px;
    font-weight: bold;
}
.buttonToBuy button:nth-child(1){
    background: black;
}
.buttonToBuy button:nth-child(2){
    background: red;
}