<div *ngIf="clicked" (click)="backToAllType()" > <= Back To All Type</div>
<div class="grid">
    <div class="Filters">
        <div *ngIf="!clicked">
            <h3>What Are You Looking For?</h3>
            <ul>
                <li>
                    <label> <input type="checkbox"> Mobile </label>
                </li>
                <li>
                    <label> <input type="checkbox"> Laptop </label>
                </li>
                <li>
                    <label> <input type="checkbox"> HeadPhone </label>
                </li>
                <li>
                    <label> <input type="checkbox"> Books </label>
                </li>
            </ul>
        </div>
        <div *ngIf="clicked">
            <h3>Do You Need More Filter ?</h3>
            <ul>
                <li>
                    <label> <input type="checkbox"> price </label>
                </li>
            </ul>
        </div>
    </div>
<div class="body">
    <div *ngIf="!clicked">
        <div class="productSubDiv">
            <div class="productListImage">
                <img src="https://cdn.shopify.com/s/files/1/0584/4667/6158/products/atomichabits.png?v=1626257128">
            </div>
            <div>
                <h3>Are You Looking For Book ?</h3>
                <h4>Check Our Most sold Product</h4>
                <h5>Atomic Habits</h5>
                <h5>price: 200rs</h5>
            </div>
            <div class="buyNow">
                <div>   <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span>
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                </div>
                <div class="buttonToBuy" (click)="thisType()">
                    See All =>
                </div>
            </div>
        </div>
        <div class="productSubDiv">
            <div class="productListImage">
                <img src="https://i02.appmifile.com/429_operator_in/07/04/2022/ab9969f0cc2cab0e3067a47eb2f4b299.jpg">
            </div>
            <div>
                <h3>Are You Looking For Mobile ?</h3>
                <h4>Check Our Most sold Product</h4>
                <h5>Redmi Note 11</h5>
                <h5>price: 20,000rs</h5>
            </div>
            <div class="buyNow">
                <div>   <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span>
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                </div>
                <div class="buttonToBuy" (click)="thisType()">
                    See All =>
                </div>
            </div>
        </div>
    </div>
    <div class="productListDiv" *ngIf="clicked">
        <div class="productSubDiv">
            <div class="productListImage">
                <img src="https://cdn.shopify.com/s/files/1/0584/4667/6158/products/atomichabits.png?v=1626257128">
            </div>
            <div>
                <div>Specification</div>
            </div>
            <div class="buyNow">
                <div>   <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span>
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                </div>
                <div class="buttonToBuy">
                    <button> Add To Cart </button> 
                    <button>Buy Now</button> 
                </div>
            </div>
        </div>
        <div class="productSubDiv">
            <div class="productListImage">
                <img src="https://cdn.shopify.com/s/files/1/0584/4667/6158/products/atomichabits.png?v=1626257128">
            </div>
        </div>
    </div>
</div>
</div>