.Filters{
    position: sticky;
    top: 0px;
}
li{
    list-style: none;
}
.productSubDiv{
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid;
}
.productListImage{
    width: 200px;
    height: 200px;
}
.productListImage img{
    height: inherit;
    width: 100%;
    object-fit: contain;
}
.star{
    width: 20px;
}
.buttonToBuy {
    justify-content: space-between;
    display: flex;
}