<div class="web-container">
    <div class="row">    
        <div class="col-sm-4">
            <div class="Filters col bg-info mt-2">
                <h3>What Are You Looking For?</h3>
                <ul>
                    <li *ngFor="let product of typeList;">
                        <label> <input type="checkbox" (click)="addType(product)"> {{product}} </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
                <div class="productSubDiv row" *ngFor="let product of productList;">
                    <div class="productListImage col-sm-4">
                        <img src={{product.link}}>
                    </div>
                    <div class="col-sm-5">
                        <h4>Are You Looking For {{product.name}} ?</h4>
                        <h5>Check Our Most sold Product</h5>
                        <h6>Atomic Habits</h6>
                        <h6>price: 200rs</h6>
                    </div>
                    <div class="d-flex flex-column justify-content-between col-sm-3">
                        <div>  
                            <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span>
                            <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                            <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                            <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                            <span><img class="star" src="https://www.pngmart.com/files/16/Gold-Star-PNG-Transparent-Image.png"></span> 
                        </div>
                        <div class="buttonToBuy cursorPointer" (click)="thisType(product.name)">
                            See All =>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>