.body div{
    display: flex;
}
.Image{
    width: 40%;
}
.Detail{
    width: 60%;
}
.grid{
    display: grid;
    grid-template-columns: 30% 70%;
}
.Filters{
    background-color: aqua;
    height: fit-content;
    position: sticky;
    top: 0px;
}
li{
    list-style: none;
}